#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f05;
  color: white;
  cursor: pointer;
  padding: 5px;
  /* border-radius: 7px; */
  border-radius: 7px;
  transition: all 0.3s;
}
#topBtn:hover {
  background-color: #555;
}

.pl-k {
  color: #ff7b72;
}
.pl-v {
  color: #ffa657;
}
.pl-kos {
  color: #c9d1d9;
}
.pl-c1 {
  color: #79cdff;
}
.pl-s {
  color: #a5d6ff;
}
.code-bg {
  background-color: #050320;
  padding: 20px 50px 20px;
}
