@import('./poppins-classes.css')
html {
  scroll-behavior: smooth;
}
:root
{
  --txtcolor: #000;
  /* --txtcolor: #fff; */
}
#Frontend {
  fill: var(--txtcolor);
}

#Backend {
  fill: var(--txtcolor);
}

#Programming {
  fill: var(--txtcolor);
}
/* @media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #050320;
    color: #fff;
  }
} */
.bod {
  border: 2px solid red;
}
.navbar-brand {
  color: inherit;
}
.nav-link {
  color: inherit;
  transition: all 0.4s;
}
/* .nav-item:hover .nav-link */
.nav-link:hover {
  /* color: #ffc600; */
  color: inherit;
  font-weight: 600;
  letter-spacing: 0.9px;
}
#changeMode {
  vertical-align: middle;
  color: rgba(252, 70, 107, 1);
}
/* #profileimg
{
  border-radius: 100%;
}
#profileimg:hover
{
  box-shadow: 0 0 1.5rem 1.5rem #ffc600;
} */

/* .lang {
  margin-left: 15px;
} */
.lang i {
  display: inline-block;
  color: #777;
  text-align: center;
  /* padding: 0px 3px; */
  margin: 0 7px 15px 7px;
  /* margin-bottom: 15px; */
  user-select: none;
}
.lang i:hover {
  transition: all 0.3s;
  color: #ffc600;
  /* box-shadow: 0 0 0 0.25rem; */
}
.lang i span {
  display: block;
  font-size: 1rem;
  padding-top: 3px;
  font-family: "Ubuntu", sans-serif;
}
/* .Proficiency
{
  font-family: 'Ubuntu', sans-serif;


} */
#projects {
  font-family: "Ubuntu", sans-serif;
}
#githublink1 {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  color: black;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.githublink2 {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px 8px 24px 24px;
  color: black;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0% 0% 0% 100% / 0% 0% 0% 100%;
}
#achievements .achieve-body {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
}
#achievements .itm {
  display: inline-block;
  position: relative;
  /* padding: 7px; */
  /* border-radius: 7px; */
  /* margin-bottom: 38px; */
  /* background-color: #fff; */
  /* box-shadow: 0 0.5rem 1rem #888; */
  /* width: 550px; */
  width: 45%;
}
#achievements .itm img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  #achievements .itm {
    width: 100%;
  }
}

.social-links i {
  -webkit-appearance: none;
  color: inherit;
  text-decoration: none;

  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;
  padding: 0;
}

/* .social-links a i {
  color: inherit;
} */

/* .progress-bar
{
  margin: 15px;
  background-color: transparent;
} */
.myProgress {
  width: 100%;
  background-color: #eee;
  border-radius: 15px;
  overflow: hidden;
}
#myBar1 {
  width: 85%;
  height: 15px;
  /* border-radius: 15px; */
  background-color: #5dd;
  text-align: center;
  /* line-height: 25px; */
  color: white;
}
#myBar2 {
  width: 65%;
  height: 15px;
  /* border-radius: 15px; */
  background-color: #5dd;
  text-align: center;
  /* line-height: 25px; */
  color: white;
}
#myBar3 {
  width: 70%;
  height: 15px;
  /* border-radius: 15px; */
  background-color: #5dd;
  text-align: center;
  /* line-height: 25px; */
  color: white;
}

#contact {
  font-family: "Ubuntu", sans-serif;
}
